<section id="realisations" class="section">
    <div class="background3">
        <div class="circles3a">
            {% for _ in range(1, 5) %}
                <span></span>
            {% endfor %}
        </div>
        <div class="circles3b">
            {% for _ in range(1, 5) %}
                <span></span>
            {% endfor %}
        </div>
    </div>

    {% if realisation %}
        <div class="bloc-realisation" id="portfolio-realisation" data-current-post-id="{{ realisation.ID }}">
            <h2>Mes Projets et Réalisations</h2>
            <div class="blocks">
                <div class="left-block">
                    {% if realisation.meta('video') %}
                        <video id="myVideo" loop muted playsinline>
                            <source src="{{ realisation.meta('video') }}" type="video/webm">
                            Your browser does not support the video tag.
                        </video>
                    {% else %}
                        <img src="{{ realisation.meta('screenshot') }}" alt="Screenshot">
                    {% endif %}
                </div>
                <div class="right-block">
                    <div class="info-block">
                        <h3 class="realisation-title">{{ realisation.title }}</h3>
                        <p>{{ realisation.date|date('F Y')|capitalize }}</p>
                        <div class="link-bloc">
                            <a href="{{ realisation.meta('web') }}" class="icon3" target="_blank">
                                <img src="{{image_ids.web_icon}}" class= "icon3 hover-image" alt= "Lien vers le site">
                            </a>
                            <a href="{{ realisation.meta('git') }}" class="icon2" target="_blank">
                                <img src="{{image_ids.git_icon}}" class= "icon2 hover-image" alt= "Lien vers le github du site">
                            </a>
                        </div>
                        <p>{{ realisation.meta('techno') }}</p>
                        <p>{{ realisation.meta('objectif') }}</p>
                    </div>
                    <div class="bloc-nav">
                        <div class="previous-btn">
                            <img src="{{image_ids.previous_arrow}}" class="previous-btn" alt= "flêche de gauche">
                        </div>
                        <div class="next-btn">
                            <img src="{{image_ids.next_arrow}}" class= "next-btn" alt= "flêche de droite">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Aucune réalisation trouvée</p>
    {% endif %}
</section>
